html {
    margin: 0px;
    height: 100%;
    
}
body {
    height:100%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    margin:0;
    padding:10px;
}
.main {
    background-color:#171766;
    width:50%;
    margin:auto;
    text-align: center;
    padding:50px;
}
.inner1 {
    background-color:#2f274f;
    width:75%;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding:10px;
    
}
.btn:hover {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #507ff6;
    border: none;
    padding:10px;
    margin:5px;
}
.btn:active {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #303ebb;
    border: none;
    padding:10px;
    margin:5px;
}
.btn {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #3d71f5;
    border: none;
    padding:10px;
    margin:5px;
}
a:link {
    color:#3d71f5;
}
a:visited {
    color:#481bfe;
}
a:active {
    color:#64adf7;
}
.alert {
color: #eeff00;
font-size: large;
}
